.btn {
    font-size: 1.3rem;
    line-height: normal;
    letter-spacing: 0.14rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--btn-font-color);

    height: 4.4rem;
    width: 100%;
    display: grid;
    place-content: center;

    border-radius: 0.6rem;
    background: var(--btn-bg-color);

    transition: all 0.25s ease-out;

    &:hover, &:focus {
        color: var(--btn-font-color);
        background: var(--btn-bg-color);
        border: 1px solid var(--btn-border-color);
    }
}