.price {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;

    &__currency {
        font-size: 4rem;
        line-height: normal;
        letter-spacing: -0.12rem;
    }
    
    &__amount {
        font-size: 7.2rem;
        line-height: 7.1rem;
        letter-spacing: -0.22rem;
    }
}

